@page "/"
@inject NavigationManager NavigationManager
<h1>Welcome to Bucket List</h1>

@code {
    protected override void OnInitialized()
    {
       //NavigationManager.NavigateTo("/products");
        NavigationManager.NavigateTo("/");//rajan
    }
}