@page "/"
@inject NavigationManager NavigationManager
<h1 style="background-color:aqua">Welcome to <b>Rajan Kumar</b> Bucket List</h1>



@code {
    protected override void OnInitialized()
    {
       //NavigationManager.NavigateTo("/products");
        NavigationManager.NavigateTo("/");//rajan
    }
}